{% tree item in menu %}
  {% if treeloop.first %}<ul>{% endif %}
    <li>
        <a href="{{ item.url }}">{{ item.name }}</a>
        {% subtree item.children %}
    </li>
  {% if treeloop.last %}</ul>{% endif %}
{% endtree %}

<pre><code>
{% tree item in menu %}
  {% if treeloop.first %}START {{ item.name }}:{% endif %}

    -THIS IS {{ item.name }}
    {% subtree item.children %}
  {% if treeloop.last %}END {{ item.name }}{% endif %}
{% endtree %}
</code></pre>